<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title>New creature</title>
  </head>
  <body>
    <header><h1>Create a new creature</h1></header>

    <nav><a href="/" id="go-home">go home</a></nav>
    <form action="/new" method="post" id="creature-form">
      <label for="habitat_id">
        Habitat name:
        <select name="habitat_id" type="text" id="habitat_id">
          <% habitats.forEach((habitat) => { %>
          <option value="<%= habitat.id %>"><%= habitat.habitat_name %></option>
          <% }) %>
        </select>
      </label>
      <label for="name"
        ><span class="required">*</span>
        Name:
        <input type="text" name="name" id="name" required />
      </label>
      <label for="nickname"
        ><span class="required">*</span>
        Nickname:
        <input type="text" name="nickname" id="nickname" required />
      </label>
      <label for="class_name">
        Class:
        <input type="text" name="class_name" id="class_name" />
      </label>
      <label for="speed">
        Speed:
        <input type="number" name="speed" id="speed" min="10" max="9999" />
      </label>
      <label for="max_weight">
        Max weight:
        <input
          type="number"
          name="max_weight"
          id="max_weight"
          min="10"
          max="9999"
        />
      </label>
      <label for="lifespan">
        Lifespan:
        <input
          type="number"
          name="lifespan"
          id="lifespan"
          min="10"
          max="9999"
        />
      </label>
      <label for="img">
        Image URL:
        <input type="text" name="img" id="img" />
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
