* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

body {
  padding: 3%;
  background-color: #2a2a72;
}

/* Header */
header,
.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: white;
}

/* Cards */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 70px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.card {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
}

.superpower {
  color: rgb(134, 134, 134);
  margin-left: 10px;
  font-size: 14px;
}

.superpower::before {
  content: "Creatures' superpowers:";
  margin-right: 5px;
  color: rgb(134, 134, 134);
}

.delete {
  align-self: self-end;
  margin-top: -10px;
}

/* navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button,
#go-home {
  background: linear-gradient(45deg, #6a82fb, #fc5c7d);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

button:hover,
#go-home:hover {
  background: linear-gradient(45deg, #fc5c7d, #6a82fb);
}

a {
  text-decoration: none;
}

#habitat-form,
#creature-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

input[type='text'],
input[type='number'],
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  cursor: pointer;
  appearance: none;
  background-color: #ffffff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="none" stroke="%23333" stroke-width="2" d="M1 3l4 4 4-4"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select option {
  background-color: #ffffff;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

img {
  width: 100%;
  align-self: center;
  max-width: 500px;
  max-height: 400px;
  margin-bottom: auto;
}

.required {
  color: red;
}

.card .characteristic {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

.card .characteristic::after {
  content: attr(data-unit);
  opacity: 0.6;
  font-size: 14px;
  margin-left: 3px;
}
