* {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

body {
  padding: 3%;
  background-color: #2a2a72;
  color: #f8f8ff;
}

/* Header */
header,
.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Cards */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 70px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.card {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
}

.superpower {
  /* color: rgb(97, 97, 97); */
  color: rgb(134, 134, 134);

  font-size: 14px;
}

.superpower::before {
  content: "Creatures' superpowers:";
  margin-right: 5px;
  color: rgb(134, 134, 134);
}

.delete {
  align-self: self-end;
}

/* navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button,
#go-home {
  background: linear-gradient(45deg, #6a82fb, #fc5c7d); /* Gradient color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  transition: background 0.3s ease;
}

button:hover,
#go-home:hover {
  background: linear-gradient(
    45deg,
    #fc5c7d,
    #6a82fb
  ); /* Reverse gradient on hover */
}

a {
  text-decoration: none;
}

#habitat-form,
#creature-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  max-width: 400px;
  margin: auto;
}

input[type='text'],
input[type='number'],
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  background-color: #6a82fb; /* Same as button background */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #fc5c7d; /* Same as button hover */
}

img {
  align-self: center;
  max-width: 100%;
  margin-bottom: auto;
}
